<ion-view title="Person's Name" class="view-color-background">
	<ion-content>
		<div class="card">
		<a class="item item-avatar">
	    <img src="{{user.pic}}" class="profile-pic">
	    <p>Someone to Me</p> 
	    <p>{{user.position}}, {{user.company}}</p>
		</a>
		<div class="item item-text-wrap">
			<p>Coolness is an admired aesthetic of attitude, behavior, comportment, appearance and style, influenced by and a product of the Zeitgeist. Because of the varied and changing connotations of cool, as well its subjective nature, the word has no single meaning. It has associations of composure and self-control (cf. the OED definition) and often is used as an expression of admiration or approval. Although commonly regarded as slang, it is widely used among disparate social groups, and has endured in usage for generations.</p>
		</div>
			<a class="button button-clear icon ion-reply pull-right button-balanced" href="#/tab/post-comment"> Reply</a>
		</div>
	</ion-content>
</ion-view>