<ion-view title="Comment" class="view-color-background">
	<ion-content>
		<div class="card">
			<div class="item item-text-wrap">
				<p>{{answer.body}}</p>
			</div>
			<div class="item">
				<div class="pull-left">
					<a class="button button-clear button-balanced icon ion-arrow-up-b"></a>
					<span class="vote-count-position">5</span>
					<a class="button button-clear button-balanced icon ion-arrow-down-b"></a>
				</div>
			</div>
			<a class="item item-avatar" href="#/tab/post-user/{{user.id}}">
	  		<img src="{{answer.user.pic}}", class="profile-pic">
	  	  <h2>{{answer.user.name}},  {{answer.user.location}}</h2>
	  	  <p>{{answer.user.position}} at {{answer.user.org_name}}</p>
	  	</a>
		</div>
		<div class="item item-text-wrap">
	    <item class="item-input-wrapper">
	      <input type="text" placeholder="Comment here">
	    </item>
	    <button class="button button-clear button-small">
	      Comment
	    </button>
		 </div>
	</ion-content/>
</ion-view>