<ion-view title="Settings" class="view-color-background">
  <ion-content>
  	<div class="list card">
  	  <a href="#" class="item item-icon-left">
  	    <i class="icon ion-settings"></i>
  	    Settings
  	  </a>
  	  <a href="#" class="item item-icon-left">
  	    <i class="icon ion-edit"></i>
  	    Edit Profile
  	  </a>
  	  <a href="#" class="item item-icon-left">
  	    <i class="icon ion-wifi"></i>
  	    Enter wireless password
  	  </a>
  	  <a href="#" class="item item-icon-left">
  	    <i class="icon ion-card"></i>
  	    Enter card information
  	  </a>
  	</div>
  </ion-content>
</ion-view>
