<ion-view title="Register">
  <ion-content>
   <div class="card">
     <label class="item item-input">
       <span class="input-label">First Name</span>
       <input type="text" ng-model="user.firstName">
     </label>
     <label class="item item-input">
       <span class="input-label">Last Name</span>
       <input type="text" ng-model="user.lastName">
     </label>
     <label class="item item-input">
       <span class="input-label">Email</span>
       <input type="text" ng-model="user.email">
     </label>
       <p class="item item-text-wrap"> Which best describes you?</p>
       <label class="item item-radio">
         <input type="radio" name="group">
         <div class="item-content">
           Lender
         </div>
         <i class="radio-icon ion-checkmark"></i>
       </label>
       <label class="item item-radio">
         <input type="radio" name="group">
         <div class="item-content">
           Business
         </div>
         <i class="radio-icon ion-checkmark"></i>
       </label>
     <label class="item item-input">
       <span class="input-label">Organization Name</span>
       <input type="text" ng-model="user.org_name">
     </label>
     <label class="item item-input">
       <span class="input-label">Zip Code</span>
       <input type="text" ng-model="user.zipCode">
     </label>
     <label class="item item-input">
       <span class="input-label">Position</span>
       <input type="text" ng-model="user.position">
     </label>
      <label class="item item-input">
       <span class="input-label">Password</span>
       <input type="password" ng-model="user.password">
     </label>
    </div>
   <div class="padding">
     <button class="button button-block button-action" ng-click="signup()">
       Register
     </button>
   </div>
  </ion-content>
</ion-view>