  <ion-list>
		<div class="item item-divider">Personal Profile</div>
		<div class="item item-text-wrap">
			<h2>About</h2>
			<p>{{user.bio}}</p>
		</div>
		<div class="item item-text-wrap">
			<h2>Goals</h2>
			<p>{{user.goals}}</p>
		</div>
		<div class="item item-divider">Funding</div>
		<div class="item item-text-wrap">
			<h2>Funding Sought</h2>
			<p>{{user.fundingSought}}</p>
		</div>
		<div class="item item-text-wrap">
			<h2>Funding Purpose</h2>
			<p>{{user.fundingPurpose}}</p>
		</div>
		<div class="item item-text-wrap">
			<h2>Funding Priority</h2>
			<p>{{user.fundingPriority}}</p>
		</div>
		<div class="item item-divider">Recommendation Profile</div>
		<div class="item item-text-wrap">
			<h2>Business Type</h2>
			<p>{{user.business_types}}</p>
		</div>
		<div class="item item-text-wrap">
			<h2>Customers</h2>
				{{user.customer_types}}
			</p>
		</div>
		<div class="item item-text-wrap">
			<h2>Business Age (Yrs)</h2>
			<p>{{user.ages}}</p>
		</div>
		<div class="item item-text-wrap">
			<h2>Employees</h2>
			<p>{{user.employee_sizes}}</p>
		</div>
		<div class="item item-text-wrap">
			<h2>AR</h2>
			<p>{{user.accounts_receivables}}</p>
		</div>
		<div class="item item-text-wrap">
			<h2>Revenue Size</h2>
			<p>{{user.revenue_sizes}}</p>
		</div>
		<div class="item item-text-wrap">
			<h2>Industry</h2>
			<p>{{user.industries}}</p>
		</div>
		<div class="item item-text-wrap">
			<h2>Does Business in</h2>
			<p>{{user.locations}}</p>
		</div>
	</ion-list>