<ion-list>
	<div class="item item-text-wrap item-thumbnail-left">
		<img src="{{user.profile_picture_url}}" class="profile-pic"/>
		<h2>{{user.name}},  {{user.hq_state}}</h2>
		<p>{{user.position}} at {{user.org_name}}</p>
		<div class="row item-text-wrap">
			<div class="col icon ion-pricetags">{{user.cred_count}}</div>
			<div class="col icon ion-arrow-up-a">{{user.milestones_count}}</div>
		</div>
	</div>
	<div class="item item-text-wrap">
		<span class="tag" ng-repeat="tag in user.tags">
			{{tag.name}}
		</span>
	</div>
</ion-list>