.profile-pic {
	border-radius:100px !important;
}

.pull-right {
	float:right;
}

.pull-left {
	float:left;
}

.text-height{
	height: 100px;
}

.tag{
	font-size: 15px;
	color: #009E3B;
}

.view-color-background{
	background-color:#eeeeee;
}

.tab-color-background{
	background-color:#ffffff;
}

.message_user_name{
	font-size: 20px;
}

.bar-balanced{
	background-color:#009E3B !important;
}
.bar-light{
	border-bottom: 2px solid black;
}

.vote-count-position{
	margin-bottom: 15px;
}

